.home {
  width: 100%;
  height: 80vh;
}

.home-btn {
  border: none;
  outline: none;
  background-color: rgba(0, 104, 240, 0.87);;
  border-radius: 5px;
  color: white !important;
  font-weight: bold;
}
